######################################################################
#
# Backbone.SceneManager
# Project-specific Git ignores
#
######################################################################

# --------------------------------------------------------------------
# Files unique to local development environment
# --------------------------------------------------------------------

/.idea/